@import url("m.css") screen and (max-width: 640px);

* {
    margin: 0;
    padding: 0;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

::selection {
    background: #ff5959;
}

::-moz-selection {
    background: #ff5959;
}

html, body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    
    background-color: #222;
    /* background-image: url('i/canvas.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#wrapper,
#dots,
#flash,
#compose {
    top: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

#wrapper {
    position: absolute;
}

#wrapper.upsell {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

#upsellWrap {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

#upsell {
    width: 600px;
    margin: 0 auto;
    color: #fff;
}

#upsell div#adtext {
    font-size: 16px;
    margin-bottom: 24px;
    float: left;
}

#upsell #rainbow_getit,
#upsell #owa_getit {
    margin-top: 24px;
    float: left;
}

#upsell .description {
    width: 450px;
    display: inline-block;
    float: left;
    padding-left: 20px;
}

#upsell input {
    background-color: #ffff99;
    color: #222;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    float: left;
    width: 150px;
    cursor: pointer;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 12px;
    
    border-radius: 5px;
}


#dots {
    z-index: 1;
    position: absolute;
    background-image: url('i/dots.png');
    opacity: 1;
}

#flash {
    z-index: 2;
    background-color: #fff;
    display: none;
    opacity: 1;
    position: absolute;
}

#canvas {
    display: block;
    position: absolute;
    text-align: center;
    height: 900px;
    width: 100%;
    top: 50%;
    margin-top: -450px;
    bottom: 0;
}

#controls {
    display: block;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 120px;
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 3;
}

#controls .button {
    width: 160px;
    height: 120px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 75px;
    display: inline-block;
    position: relative;
    top: 0;
    
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

#controls .button:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

#controls .button:active {
    top: 1px;
}

#controls .button .icon {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    margin-left: -24px;
    top: 30px;
}

#controls .button .icon img {
    width: 48px;
    height: 48px;
}

#controls #redo,
#controls #twitter,
#controls #flickr {
    display: none;
    opacity: 0;
}
    
#numbers {
    width: 320px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -160px;
    display: none;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 320px;
    color: #fff;
    position: absolute;
    z-index: 2;
}

#numbers .number {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 1;
}
    
#compose {
    z-index: 2;
    position: absolute;
    display: none;
    opacity: 0;
}

#compose textarea {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 60px;
    line-height: 75px;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    resize: none;
    outline: none;
    overflow: hidden;
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
}

#wrapper .fadeOut {
    opacity: 0; 
    
    -webkit-transition: opacity 1s ease-out;
       -moz-transition: opacity 1s ease-out;   
         -o-transition: opacity 1s ease-out;     
            transition: opacity 1s ease-out;      
}

#wrapper .fadeIn,
#wrapper #controls .fadeIn {
    opacity: 1; 
    
    -webkit-transition: opacity 1s ease-out;
       -moz-transition: opacity 1s ease-out;   
         -o-transition: opacity 1s ease-out;     
            transition: opacity 1s ease-out;      
}
    
/* clearfix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
